.container.container-width-full
  section.cards
    .cards__list
      a.cards__item(href="details-card.html")
        img(src="./assets/img/cards/01.png")
      a.cards__item(href="details-card.html")
        img(src="./assets/img/cards/02.png")
      a.cards__item(href="details-card.html")
        img(src="./assets/img/cards/03.png")
      a.cards__item(href="details-card.html")
        img(src="./assets/img/cards/04.png")
      a.cards__item(href="details-card.html")
        img(src="./assets/img/cards/05.png")
      a.cards__item(href="details-card.html")
        img(src="./assets/img/cards/06.png")
      a.cards__item(href="details-card.html")
        img(src="./assets/img/cards/07.png")
      a.cards__item(href="details-card.html")
        img(src="./assets/img/cards/08.png")



