.container.container-width-full
  section.cards
    .cards__list
      a.cards__item(href="details-card.html")
        img(src="./assets/img/cards/01.svg")
      a.cards__item(href="details-card.html")
        img(src="./assets/img/cards/01.svg")
      a.cards__item(href="details-card.html")
        img(src="./assets/img/cards/01.svg")
      a.cards__item(href="details-card.html")
        img(src="./assets/img/cards/01.svg")
      a.cards__item(href="details-card.html")
        img(src="./assets/img/cards/01.svg")
      a.cards__item(href="details-card.html")
        img(src="./assets/img/cards/01.svg")
      a.cards__item(href="details-card.html")
        img(src="./assets/img/cards/01.svg")
      a.cards__item(href="details-card.html")
        img(src="./assets/img/cards/01.svg")



