ul.details-card__social-list.social__list
  li
    a.social__link.social__link--telegram(href="")
      img.social__icon(src="./assets/img/icons/telegram.svg")
  li
    a.social__link.social__link--viber(href="")
      img.social__icon(src="./assets/img/icons/viber.svg")
  li
    a.social__link.social__link--vk(href="")
      img.social__icon(src="./assets/img/icons/vk.svg")
  li
    a.social__link.social__link--ok(href="")
      img.social__icon(src="./assets/img/icons/ok.svg")
