.container.container-width-full
  .details-card
    .details-card__container

      .details-card__feedback
        img.details-card__feedback-title(src="./assets/img/details-card-title.svg")

        .details-card__buttons
          a.details-card__feedback-btn(href="./assets/img/details-cards/06.png" download)
            include ../../img/icons/download.svg
            span Скачать открытку

          button.details-card__feedback-btn.copy-link
            include ../../img/icons/scissors.svg
            span Скопировать ссылку

        include ../social/social

        a.link-back(href="index.html") Назад


      img.details-card__card(src="./assets/img/details-cards/06.png")


