.container.container-width-full
  .details-card
    .details-card__container

      .details-card__feedback
        img.details-card__feedback-title(src="./assets/img/details-card-title.svg")

        .details-card__buttons
          a.details-card__feedback-btn(href="./assets/img/details-cards/03.png" download)
            include ../../img/icons/download.svg
            span Скачать открытку

          button.details-card__feedback-btn.copy-link
            include ../../img/icons/scissors.svg
            span Скопировать ссылку

        ul.details-card__social-list.social__list
          li
            a(href="##")
              img.social__icon(src="./assets/img/icons/telegram.svg")
          li
            a(href="##")
              img.social__icon(src="./assets/img/icons/viber.svg")
          li
            a(href="##")
              img.social__icon(src="./assets/img/icons/vk.svg")
          li
            a(href="##")
              img.social__icon(src="./assets/img/icons/ok.svg")

        a.link-back(href="index.html") Назад


      img.details-card__card(src="./assets/img/details-cards/03.png")


