extends ../layouts/main

block variables
  - var title = "Как понять, что ты самый сильный"
  - var pageClass = ''
  - var activePage = 'index'

block content

  include ../components/details-card/details-card-03
  include ../components/cards/cards
  include ../components/feedback/feedback
