extends ../layouts/main

block variables
  - var title = "Как получить 101 тюльпан"
  - var pageClass = ''
  - var activePage = 'index'

block content

  include ../components/details-card/details-card-07
  include ../components/cards/cards
  include ../components/feedback/feedback
