extends ../layouts/main

block variables
  - var title = "Как не устать принимать комплименты"
  - var pageClass = ''
  - var activePage = 'index'

block content

  include ../components/details-card/details-card-08
  include ../components/cards/cards
  include ../components/feedback/feedback
