extends ../layouts/main

block variables
  - var title = "Детали открытки"
  - var pageClass = ''
  - var activePage = 'index'

block content

  include ../components/details-card/details-card-01
  include ../components/cards/cards
  include ../components/feedback/feedback
