extends ../layouts/main

block variables
  - var title = "Как получить тот подарок, который хочется"
  - var pageClass = ''
  - var activePage = 'index'

block content

  include ../components/details-card/details-card-06
  include ../components/cards/cards
  include ../components/feedback/feedback
