extends ../layouts/main

block variables
  - var title = "Как правильно писать поздравление"
  - var pageClass = ''
  - var activePage = 'index'

block content

  include ../components/details-card/details-card-02
  include ../components/cards/cards
  include ../components/feedback/feedback
