extends ../layouts/main

block variables
  - var title = "Как выбрать ту самую пару"
  - var pageClass = ''
  - var activePage = 'index'

block content

  include ../components/details-card/details-card-04
  include ../components/cards/cards
  include ../components/feedback/feedback
