header.header
  .header__container.container

    a.header__logo(href="##")
      img(src="./assets/img/logo.svg")

    img.header__decor-sun(src="./assets/img/header/decor-sun.svg")
    img.header__decor-seal(src="./assets/img/header/decor-seal.svg")
    .header__decor-text
      img.header__decor-postcards-text(src="./assets/img/header/decor-postcards-text.svg")
      p.header__text Отправьте тому, <br> с кем хотите разделить <br> свою улыбку


