.container.container-width-full
  section.feedback
    .feedback__container

      img.feedback__title(src="./assets/img/title-feedback.svg")

      .feedback__content
        p Теперь не забудь встретиться с друзьями и близкими и посмеяться над ними вместе.
        p А промокод —
          span.promocode Праздник
          <br>
          | на билет в парк Дримвуд поможет сделать эту встречу еще теплее и веселее.

        a.feedback__link(href="##")
          img(src="./assets/img/icons/bird.svg")
          | Посетить Дримвуд
