footer.footer
  .container.footer__container
    .footer__content
      a.footer__logo(href="index.html")
        img(src="./assets/img/logo-footer.svg")

      a.footer__social(href="##")
        img(src="./assets/img/icons/vk.svg")

      a.footer__tel(href="tel:88005504326") 8 800 550 43 26

      a.footer__link.footer__link--rules(href="##") Правила <br> посещения

      a.footer__link.footer__link--agreement(href="##") Пользовательское <br> соглашение

      a.footer__link.footer__link--politics(href="##") Политика <br> конфиденциальности
